<div class="container-fluid">
  <div class="row" style="background-color: #b6b0ad38">
    <div class="col-xs-8 col-md-6 col-lg-6">
      <div
        class="mt-3"
        style="
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          display: inline-flex;
        "
      >
        <div
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            display: flex;
          "
        >
          <img
            src="assets/images/right arrow.svg"
            class="arrow_right back d-none d-sm-block"
          />
          <div class="back d-none d-sm-block">Back</div>
        </div>
        <div class="home_page d-none d-sm-block">Home page</div>
        <div class="region d-none d-sm-block">|</div>
        <div class="region d-none d-sm-block">Region</div>
      </div>

      <div class="card-content">
        <div class="card-heading">Lorem ipsum dolore</div>
        <div class="card-paragraph">
          Lorem ipsum dolor sit amet consectetur. Ut viverra lorem fermentum
          augue sagittis mi neque id. Mi massa tincidunt id sed odio iaculis sit
          egestas.
        </div>
        <button type="button" class="lorem_btn">Lorem ipsum</button>
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
      <div class="col-xs-12" style="display: inline-flex">
        <span>
          <img
            class="arrow_right mx-2 d-block d-sm-none"
            src="assets/images/right arrow.svg"
        /></span>
        <span class="home_page mx-2 d-block d-sm-none">Home page</span>
        <span class="region mx-2 d-block d-sm-none"> | </span>
        <span class="region mx-2 d-block d-sm-none">Region</span>
      </div>

      <img
        class="image"
        src="assets/images/borindex-square.png"
        style="width: 100%; height: 85%; border-radius: 8px; margin-top: 10px"
      />
    </div>
    <div class="row" style="margin-bottom: 3rem">
      <div class="col-xs-12">
        <div class="row category_dropdown">
          <div class="col-sm-4">
            <label>Category</label>
            <select class="form-select">
              <option selected="Selected" value="">All</option>
              <option
                *ngFor="let product of productList"
                [value]="product.value"
              >
                {{ product.name }}
              </option>
            </select>
          </div>
          <div class="col-sm-8">
            <div
              class="image-filter mx-3"
              (click)="openModal()"
              style="display: inline-block; position: relative"
            >
              <img src="/assets/images/filter.png" />
              <span *ngIf="selectedTagList.length > 0" class="badge count">
                {{ selectedTagCount }}</span
              >
            </div>
            <div
              class="tags-list"
              *ngFor="let item of selectedTagList"
              (click)="removeTag(item)"
            >
              {{ item.name }}
              <i class="fa fa-times mx-1 remove_icon" aria-hidden="true"></i>
            </div>
            <div *ngIf="selectedTagList.length > 0" class="remove-filter">
              Remove filters
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- The Modal -->
  <div
    class="modal"
    tabindex="-1"
    role="dialog"
    #myModal
    style="margin-top: 10px"
  >
    <div class="modal-dialog custom-modal-width" role="document">
      <div class="modal-content t">
        <div class="modal-header" style="border-bottom: none">
          <h5 class="modal-title">Filter</h5>

          <button
            type="button"
            class="close close-icon d-none d-sm-block"
            data-dismiss="modal"
            aria-label="Close"
            (click)="closeModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
          <span
            class="d-block d-sm-none remove-all-filter"
            (click)="removeFilter()"
          >
            Remove all filter
          </span>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="select-type-label mt-2">Search</label>
            <select class="form-select select-type">
              <option disabled selected="Selected" value="">please type</option>
              <option
                *ngFor="let product of productList"
                [value]="product.value"
              >
                {{ product.name }}
              </option>
            </select>
          </div>
          <div
            class="col-sm-3 remove-all-filter d-none d-sm-block"
            (click)="removeFilter()"
          >
            Remove all filter
          </div>
          <div class="col-sm-3"></div>
        </div>

        <!-- Selected Filters -->
        <div>
          <label class="select-type-label mt-4"
            >Selected filters ({{ selectedTagCount }})</label
          >
          <span
            class="tag-list"
            *ngFor="let item of selectedTagList"
            (click)="removeTag(item)"
            >{{ item.name }}
            <i class="fa fa-times mx-1 remove_icon" aria-hidden="true"></i>
          </span>
        </div>

        <div class="row">
          <label class="select-type-label mt-4">All filter</label>
        </div>
        <div class="modal-body custom-modal-heigh modal-border">
          <div
            class="tag-list"
            *ngFor="let tag of tagsList"
            (click)="selectedTag(tag)"
          >
            {{ tag.name }}
          </div>
        </div>
        <div class="modal-footer" style="border-top: none">
          <button
            class="cancel-button"
            type="button"
            data-dismiss="modal"
            (click)="closeModal()"
          >
            Cancel
          </button>
          <button class="save-button" type="button">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
