a {
  background: #74409d;
  color: white;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
}

.card-content {
  display: flex;
  position: relative;
  left: 200px;
  top: 16px;
  width: 84%;
  // height: 65%;
  padding: 28px 32px 28px 36px;
  background: white;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}
.card-heading {
  align-self: stretch;
  color: #102733;
  font-size: 36px;
  font-family: Lexend;
  font-weight: 700;
  word-wrap: break-word;
}
.card-paragraph {
  align-self: stretch;
  color: #102733;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 300;
  line-height: 26px;
  word-wrap: break-word;
}
.remove-filter {
  display: inline-block !important;
  color: #102733;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  text-decoration: underline;
  width: fit-content;
}
.remove-all-filter {
  position: relative;
  top: 45px;
  left: 38px;
  font-size: 17px;
  font-family: Lexend;
  font-weight: 400;
  text-decoration: underline;
  line-height: 16px;
  color: #74409d;
}
label {
  margin-bottom: 5px;
}
.select-type {
  position: relative;
  left: 15px;
}
.select-type-label {
  display: flex;
  position: relative;
  left: 15px;
  margin-bottom: 5px;
  color: #102733;
}

.image-filter {
  margin-top: 30px;
  width: 31px;
  height: 35px;
  background: white;
  border-radius: 6px;
  border: 1px #ebeff1 solid;
  justify-content: center;
  align-items: center;
}
.custom-modal-width {
  max-width: 700px; /* Adjust the width as needed */
}

/* Custom height for the modal content (optional) */
.custom-modal-height {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto; /* Add scrollbar if content exceeds the height */
}

.cancel-button {
  border-radius: 8px;
  padding: 6px;
  background: white;
  position: relative;
  width: 15%;
}
.save-button {
  border-radius: 8px;
  padding: 6px;
  background-color: #74409d;
  position: relative;
  width: 15%;
  color: white;
}

.close-icon {
  border: none;
  background: white;
  font-size: 24px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 1050; /* Ensure the overlay is above other content */
}

/* Display the overlay when the modal is shown */
.modal.show + .modal-overlay {
  display: block;
}

p {
  color: #102733;
  font-size: 14px;
  font-family: Lexend;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

.tags-list {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 100px;
  background-color: #e6f3f7;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #102733;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  // line-height: 35px;
  word-wrap: break-word;
}

.tag-list {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 100px;
  background-color: #e6f3f7;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #102733;
  font-size: 15px;
  font-family: Lexend;
  font-weight: 400;
  // line-height: 35px;
  word-wrap: break-word;
}
.arrow_right {
  width: 16px;
  height: 18px;
  border-radius: 9999px;
}

.modal-border {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 1px #ebeff1 solid;
  left: 5px;
  margin-right: 5px;
}
.remove_icon {
  color: #1e2429b5;
  opacity: 0.4;
  font-size: 16px;
}
.category_dropdown {
  margin-left: 12rem;
}
.home_page {
  color: rgb(36, 24, 200);
  font-size: 14px;
  font-family: Lexend;
  font-weight: 400;
}
.region {
  color: black;
  font-size: 14px;
  font-family: Lexend;
  font-weight: 400;
}
.back {
  color: #102733;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
}
.lorem_btn {
  width: 200px;
  color: white;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: #74409d;
  border-radius: 12px;
  border: none;
}
.count {
  position: absolute;
  top: -13px;
  left: 21px;
  border-radius: 50%;
  background-color: #74409d;
}

@media only screen and(max-width: 390px) {
  .category_dropdown {
    margin-left: 0 !important;
    margin-top: 13rem;
  }
  .card-content {
    display: flex;
    position: relative;
    left: 8px;
    top: 33rem;
    width: 95%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 16px;
    gap: 16px;
  }
  label {
    margin-top: 11rem;
  }
  .form-select {
    display: block;
    width: 86%;
    padding: 0.375rem 0.75rem;
  }
  .image-filter {
    width: 35px;
    height: 32px;
    background: white;
    border-radius: 6px;
    border: 1px #ebeff1 solid;
    // margin-left: 17rem;
    position: relative;
    padding-left: 6px;
    left: 16rem;
    bottom: 4rem;
  }
  .lorem_btn {
    width: 100%;
    border: none;
    color: white;
    font-size: 16px;
    font-family: Lexend;
    font-weight: 400;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #74409d;
    border-radius: 12px;
  }
  .remove-all-filter {
    position: relative;
    top: 0px;
    left: 0px;
  }
  .modal-footer button {
    width: 100%;
  }
  .remove-filter {
    display: none !important;
  }
  .tags-list {
    display: none !important;
  }
  .count {
    display: none !important;
  }
}
