<div class="container">
  <h1 style="text-align: center;">Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="text"
        id="email"
        formControlName="email"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
      Login
    </button>
  </form>
</div>
